@implements IDisposable
@inject IShoppingCartService shoppingCartService

<a href="ShoppingCart" class="btn btn-info">
    <i class="oi oi-cart"></i>&nbsp;Cart
    <span class="badge bg-dark">@shoppingCartitemCount</span>
</a>

@code {
    private int shoppingCartitemCount = 0;
    protected override void OnInitialized()
    {
        shoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }
    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartitemCount = totalQty;
        StateHasChanged();
    }
    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;

    }
}
